$color-button-primary: #e36810;
$color-font-button-primary: #ffffff;
$color-button-secondary: #000000;
$color-font-button-secondary: #ffffff;

.fullDiv {
    height: 30%;
    width: 100%;
    background-image: url('../../img/warehouse.jpg');
    background-size: cover;
  }
  
  .transDiv {
    height: 100%;
    width: 100%;
    background: rgb(5, 0, 0, 0.8);
  }

  .headerUp {
    padding-top: 7.5%;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-size: 400%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    margin-bottom: 5%;
    // color: black;
  }

  .headerTask {
    font-size: 200%;
    padding-top: 5%;
    padding-bottom: 3%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(26, 26, 26);
  }

  .header {
    display: flex;
  }

  .headerTask2 {
    font-size: 150%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(26, 26, 26);
  }

  .headerTask4 {
    font-size: 130%;
    margin-left: auto;
    margin-right: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(26, 26, 26);
  }

  .headerTask3 {
    font-size: 140%;
    padding-bottom: 3%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(26, 26, 26);
  }

  .Task {
    margin-left: 5%;
    padding-left: 1%;
    margin-bottom: 0.5%;
    border-left: 5px solid #e36810;
    font-size: 130%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(26, 26, 26);
    width: 100%;
  }

  .Panel {
    width: 100%;
    min-height: 70%;
    height: fit-content;
    padding-left: 20%;
    padding-right: 20%;
    background: rgb(225, 225, 225);
  }

  .mainDiv {
    width: 100%;
    height: fit-content;
    border-radius: 20px;
    border: 5px;
    border-style: solid;
    border-color: $color-button-primary;
    margin-top: 2%;
    padding: 1%;
  }


  .button2 {
    // font-family: Helvetica, monospace;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: large;
    border: none;
    transition-duration: 0.3s;
    padding: 0 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    background-color: $color-button-primary;
    color: $color-font-button-primary;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 0;
  }
  
  .button2:hover {
    scale: 0.95;
  }
  
  .button2:active {
    scale: 0.9;
  }